@model FitnessPlanMVC.Application.ViewModels.ReadyRecipes.ReadyRecipesDetailVm

<div class="recipe-detail-card">
    <h2>@Model.Title</h2>

    @if (Model.Image != null)
    {
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" alt="Recipe Image" class="recipe-image" />
    }

    <div class="recipe-section">
        <h4>Description:</h4>
        <p>@Model.Description</p>
    </div>

    <div class="recipe-section">
        <h4>Ingredients:</h4>
        <p>@Model.Ingredients</p>
    </div>

    <div class="recipe-section">
        <h4>Instructions:</h4>
        <p>@Model.Instructions</p>
    </div>
</div>
