@model FitnessPlanMVC.Application.ViewModels.Post.PostDetailVm

@{
    ViewBag.Title = "Post Details";
    Layout = "_Layout";
}

<div class="recipe-detail-card">
    <h2>@Model.Title</h2>

    @if (Model.Image != null)
    {
        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" alt="Post Image" class="recipe-image" />
    }

    <div class="recipe-section">
        <h4>Content:</h4>
        <p>@Model.Content</p>
    </div>
</div>
